@import url('https://fonts.googleapis.com/css?family=Poppins');

  body{
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 750px;
  padding-top: 50px;
}

/*-----GRID-----*/
#wrapper{
  width: 55%;
  height: 100%;
  margin: auto;
}
/*----MAIN-GRID-----*/
#main{
  margin: auto;
  display: grid;
}
#title{
  text-align: center;
  margin: 0;
  padding: 0;
}
#description{
  margin: 0;
  padding: 0;
  text-align: center;
}
/*-----MAIN-GRID/SUBGRID------*/
#survey-form{
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
#survey-form label{
  width: 9em;
  display: inline-block;
}
#survey-form #num-div{
  display: block;
}
#radio-selection #radio1-label{
  width: auto;
}
#radio-selection #radio2-label{
  width: auto;
}
#checkbox-selection #checkbox1-label{
  width: auto;
  display: block;
}
#checkbox-selection #checkbox2-label{
  width: auto;
  display: block;
}
#checkbox-selection #checkbox3-label{
  width: auto;
  display: block;
}
#checkboxes{
  position: relative;
  bottom: 21px;
  left: 9em;
}

#textbox{
  position: relative;
  top: 10px;
  height: 5em;
  max-width: 23em;
  width: 100%
}
#text-submit{
  display: grid;
  grid-row-gap: 20px;
}
#submit{
  width: 6em;
  cursor: pointer;
}
#footer{
  position: fixed;
  bottom: 0;
  margin-top: 3.2em;
  width: 100%;
  text-align: center;
  height:3.2em;
  background-color: #829FD9;
}
#footer a{
  color: #230A59;
  text-decoration: none;
}
#footer a:hover{
  color: white;
  text-decoration: none;
}
#footer a:visited{
  color: #230A59;
  text-decoration: none;
}
#footer a:visited:hover{
  color: white;
  text-decoration: none;
}
